.el-form-item .el-form-item__label {
  line-height: 2rem;
}

.el-loading-spinner {
  @apply flex flex-col items-center justify-center;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea,
.el-form .el-form-item__label {
  @apply text-base;
}

@screen sm {
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea,
  .el-form .el-form-item__label {
    font-size: unset;
  }
}

/* Button default styling */
.el-button {
  @apply shadow;
}
button:focus {
  @apply shadow-outline outline-none;
}
/* Button default styling */

/* Table default styling */
.el-table {
  .el-table__header-wrapper {
    @apply border-b-1 border-gray-200;

    thead tr th {
      @apply py-2 bg-gray-100;
      & > .cell {
        @apply px-6 text-sm;
      }
    }
  }
  .el-table__body-wrapper .cell {
    @apply px-6;
  }
}
/* Table default styling */

/* Breadcrumbs default styling */
.el-breadcrumb {
  .el-breadcrumb__item:not(:last-of-type) {
    .el-breadcrumb__inner.is-link {
      @apply text-avocado font-semibold;
    }
  }
}
/* Breadcrumbs default styling */
