body .el-form-item {
  @apply mb-0;

  .el-form-item__label {
    @apply leading-loose;
    float: unset;
  }
}

.el-loading-spinner {
  @apply flex flex-col items-center justify-center;
}

/* Input default styling */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea,
.el-form .el-form-item__label {
  @apply text-base;
}

@screen sm {
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea,
  .el-form .el-form-item__label {
    font-size: unset;
  }
}
.el-form-item.is-error .el-input__inner:focus,
.el-form-item.is-error .el-textarea__inner:focus {
  @apply shadow-outline-danger;
}

.el-input__inner:focus,
.el-textarea__inner:focus {
  @apply shadow-outline-lapis;
}

/* Input default styling */

/* Button default styling */
.el-button:not(.el-button--text) {
  @apply shadow;
}
button:focus {
  @apply shadow-outline-lapis outline-none;
}
button.el-button--danger:focus {
  @apply shadow-outline-danger outline-none;
}
/* Button default styling */

/* Table default styling */
.el-table {
  .el-table__fixed-header-wrapper,
  .el-table__header-wrapper {
    @apply border-b-1 border-gray-200;

    thead tr th {
      @apply py-2 bg-white;
      & > .cell {
        @apply text-sm;
      }
    }
  }
}
/* Table default styling */

/* Breadcrumbs default styling */
.el-breadcrumb {
  .el-breadcrumb__item:not(:last-of-type) {
    .el-breadcrumb__inner.is-link {
      @apply text-lapis font-semibold;
    }
  }
}
/* Breadcrumbs default styling */


/* ElPopConfirm default styling */
.el-popconfirm {
  .el-popconfirm__main {
    @apply mb-4;
  }

  .el-button.el-button--text {
    @apply px-3;
  }
}
/* ElPopConfirm default styling */
